//Variables
$text: #000;
$hover: rgb(255, 0, 0);
$li_before: rgba(64, 64, 64, 1);
$backgroundColor:rgba(136, 136, 136, 1);
$footerBackgroundColor:rgb(0, 0, 0);
$footerTextColor:#fff;
$h3hover: #fff;
$articlebackgroundcolor:#F7F2F3;
$bordercolor:#FF3A20;
